.panel_1 {

 padding: 50px; 
  margin-top: 100px;
  margin-right: 70px;
  margin-left: 70px;
  background-color: white;
  font-size: 120%;
}


.panel_2 {
    border-top: 4px solid black;
    padding: 50px;
    margin-right: 70px;
    margin-left: 70px;
    background-color: white; 
    font-size: 120%
}

.panel_3 {
    margin-top: 70px;
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
    margin-bottom: 70px;
    padding-bottom: 30px;
    font-size: 110%;
}

.main {
    background-image: url("./images/logo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px; 
}

.p_1 {
    position: absolute;
    text-align: center;
    top: 50%; 
    left: 50%;
    transform: translate(-40%, -40%);
    color: white;
    font-family: 'Montserrat', sans-serif;

}


.wrapper {
    font-family: 'Roboto Condensed', sans-serif;
	margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

